<mat-toolbar color="primary" class="header">
    <!-- Left Side: Title -->
    <span class="title">Avian Hotel</span>

    <!-- Spacer to push links to the right -->
    <span class="spacer"></span>

    <!-- Right Side: Links -->
    <button mat-button routerLink="/profile">
        <mat-icon>person</mat-icon> Profile
    </button>
    <button mat-button routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon> Cart
    </button>
    <button mat-button routerLink="/logout">
        <mat-icon>logout</mat-icon> Logout
    </button>
</mat-toolbar>

<!-- Sidebar -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/all-rooms">
                <mat-icon>meeting_room</mat-icon> All Rooms
            </a>
            <a mat-list-item routerLink="/my-bookings">
                <mat-icon>book</mat-icon> My Bookings
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>